@model List<string>
@{
    ViewBag.Title = "PresentarProyecto";
}

<h2>PresentarProyecto</h2>


<div class="list-group">

    <div class="list-group-item">
        <button onclick="location.href='@Url.Action("MainMenuSolicitante", "Solicitante")';return false;" class="btn btn-default">Volver</button>
    </div>
</div>