@model List<string>
@{
    ViewBag.Title = "ProyectosPorSolicitante";
}

<h2>ProyectosPorSolicitante</h2>

<table>
    <tr>
        <td>Proyectos: </td>
    </tr>
    @foreach (string pro in Model)
    {
        <tr>
            <td>@pro</td>
        </tr>
    }

</table>

<div class="list-group">

    <div class="list-group-item">
        <button onclick="location.href='@Url.Action("MainMenuSolicitante", "Solicitante")';return false;" class="btn btn-default">Volver</button>
    </div>
</div>

