@{
    ViewBag.Title = "AsignarEvaluacion";
}

<h2>AsignarEvaluacion</h2>

<div class="list-group">

    <div class="list-group-item">
        <button onclick="location.href='@Url.Action("MainMenuAdmin", "Admin")';return false;" class="btn btn-default">Volver</button>
    </div>
</div>

